figure {
  border-radius: .93rem;
  width: 100%;
  box-shadow: 0.12rem 0.12rem 2.5rem var(--headerColor);
  margin: .62rem;
  cursor: pointer;
  opacity: 1;
}

figure:hover {
  opacity: 0.9;
  transition: all 0.7s;
  box-shadow: 0.12rem 0.12rem 4rem var(--text-white);
}

figure img {
  width: 322px;
  height: 404px;
  border-radius: .62rem .62rem 0 0;
}

figcaption {
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem;
  border-radius: 0 0 .62rem .62rem;
  background-color: #111;
  color: var(--text-white);
} 

@media (max-width: 425px) {
  figure {
    margin: 1rem;
    width: 100%;
  }
  
  figure img {
    width: 320px;
    height: 320px;
  }

  figcaption {
    padding: 1.5rem;
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  figure img {
    width: 300px;
  }
}