figure {
  border-radius: 15px;
  width: 100%;
  box-shadow: 2px 2px 40px var(--headerColor);
  margin: 10px;
}

figure img {
  width: 322px;
  height: 404px;
  border-radius: 10px 10px 0 0;
}

figcaption {
  font-size: 24px;
  text-align: center;
  padding: 16px;
  border-radius: 0 0 10px 10px;
  background-color: var(--primary);
  color: var(--text-white);
} 

