html {
  background: url(../../assets/bg.jpg) no-repeat 100% ;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

main {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section {
  margin-bottom: 24px;
}

.resume-me h1,
.resume-me p {
  margin-bottom: 8px;
  line-height: 40px;
  text-align: center;
}

.resume-me h1 {
  font-size: 32px;
}

.resume-me p {
  font-size: 20px;
}

.resume-me p:nth-child(3) {
  padding: 0 300px;
  margin-bottom: 16px;
}

.buttons {
  text-align: center;
}

.buttons button {
  cursor: pointer;
}

.buttons button:first-child {
  margin-right: 16px;
  margin-bottom: 32px;
}

footer {
  position: fixed;
}

@media (max-width: 425px) {
  
}