
.resume-me {
  margin-top: 4em;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
}

h1 {
  margin-bottom: 1.5em;
  line-height: 2.5em;
}

p {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

p:nth-child(3) {
  padding: 0 18.75rem;
  margin-bottom: 24px;
}

.buttons {
  margin-bottom: 11.5em;
}

.buttons a:nth-child(1) button {
  margin-right: 1.2rem;
}

.buttons a:nth-child(2) button:hover {
  background: #D9D9D9;
  color: #0D0D0D;
}

.buttons a:nth-child(2) button {
  background: none;
  color: #D9D9D9;
}

@media (max-width: 768px) {
  .resume-me {
    display: grid;
    grid-template-columns: 1fr;
  }
  p:nth-child(3) {
    padding: 0;
  }
  .buttons button {
    margin-bottom: 8px;
  } 
  
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .resume-me {
    margin-top: 0.75rem;
  }

  h1 {
    margin-bottom: 1em;
    line-height: 2.5em;
  }

  p {
    font-size: 1.1rem;
  }
  
 
  p:nth-child(3) {
    padding: 0 6rem;
  }
}