:root {
  --primary: #242426;
  --secondary: #4C5359;
  --bg: #0D0D0D;
  --headerColor:#737373;
  --border-color:#D9D9D9;
  --text-white: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Akaya Kanadaka', cursive;
  background: url('./assets/bg.jpg') 50%;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: .37rem;
}

::-webkit-scrollbar-track {
  background-color: var(--bg);
}

::-webkit-scrollbar-thumb {
  background: var(--secondary);
}

a, p, h1, h2, h3, h4, button {
  text-decoration: none;
  color: var(--text-white);
}

@media (max-width: 425px) {
  body {
    width: 100%;
    background: none;
  }

  footer {
    width: 100%;
  }
}